@import url(../css/reset.css);
@import url(../css/normalization.css);
*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #495057;

}

a{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.text-primary{
    font-weight: 900;
    color: #798357;
}

.background-primary{
    background-color:#798357
}

.text-secondary{
    color: #fefae0;
}
.background-secondary{
    background-color: #fefae0;
}
.text-important{
    color: #f9a03f;
}
.background-important{
    background-color: #f9a03f;
}

.navbar{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #798357;
    color: #fefae0;
}

.logo{
    bottom: 0;
    left: 0px;
    height: 40px;
}

.logo img{
    height: 40px;
}

.navbar li{
    display: inline-block;
    margin-right: 10px;
}

.navbar li a{
    color: #fefae0;
}

hr{
    margin: 50px 100px;
    border: 2px solid rgba(121, 131, 87, 0.5);
}


/* footer */
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
}

footer p {
    display: block;
    width: 100%;
    height: 40px;
}



.work_with_me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px;
    background-color:rgba(121, 131, 87, 0.5);
    width: 100%;
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
}
.work_with_me h2{
    color:#f9a03f;
    text-shadow: 1px 2px 1px rgba(0.5,0.5,0.5,0.3);

}


.work_with_me .social {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.work_with_me .social div{
    transition: transform 0.5s ease-in-out;
    margin: 0 10px;
}

.work_with_me .social div:hover {
    transform: scale(1.2);
}

@media screen and (max-width:600px) {

    .work_with_me{
        font-size: 20px;
        padding: 20px 50px;
    };
}